<ul class='shows'>
  {{#each data in paginatedContent itemController='show'}}
    <li {{bindAttr class=':shows__show data.isFiltered'}}>
      <section class='show__image'>
        <a href='{{ unbound imdbLink}}'>
          <img src='{{ unbound data.episode.images.screen }}' alt="{{ unbound data.show.title }}">
        </a>
      </section>
      <section class='show__desc'>
        <h2><a href="#">{{ data.show.title }}</a><small> {{ data.show.network }}</small> </h2>
        <p class='meta'>
          <span class='info'>
            <span class="show__episode">
                S<span class="collapse">eason</span> <span class="number">{{ data.episode.season }}</span> E<span class="collapse">pisode</span> <span class="number">{{ data.episode.number }}</span>
            </span>
            <span class="show__time">
                <span class="sep">&bull;</span>
                <span class="genre">{{ formatDate data.episode.first_aired_iso }}</span><span class="sep">&bull;</span>
                <span class="genre"> {{ data.show.air_time }} </span>
            </span>
          </span>
        </p>
        <p>
          {{ showDescription data.episode.overview }}
        </p>
      </section>
    </li>
  {{else}}
    <p>No Show Found :(</p>
  {{/each}}
</ul>
<section class="pager">
  <button {{bind-attr disabled=disablePerviousPage}} class="pager__prev" {{action 'previousPage'}}>Previous</button>
  <button {{bind-attr disabled=disableNextPage}} class="pager__next" {{action 'nextPage'}}>Next</button>
  <section class="pager__pages">Page {{ page }} / {{ totalPages }}</section>
</section>